<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FirstWeb</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
<!-- 	
	데이터베이스 드라이버 로드
	<servlet>
		<servlet-name>Loader</servlet-name>
		<servlet-class>jdbc.Loader</servlet-class>
		<init-param>
			<param-name>jdbcdriver</param-name>
			<param-value>oracle.jdbc.driver.OracleDriver,com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>msg</param-name>
			<param-value>Hello~ JSP~~</param-value>
		</init-param>
	</servlet>
	 -->
	 
	<!-- 커넥션 풀 드라이버 등록 -->
	<servlet>
		<servlet-name>DBCPInit</servlet-name>	
		<servlet-class>jdbc.DBCPInit</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<!-- 상태코드의 에러페이지 설정 -->
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/error/error_null.jsp</location>
	</error-page>
</web-app>
